:root {
  --text-orange: #ffc600;
  --text-white: #ffffff;
  --text-black: #000000;
}

@font-face {
  font-family: 'Roboto';
  src: local("Roboto"), url(../assets/fonts/Roboto-Medium.eot?) format(eot), url(../assets/fonts/Roboto-Medium.woff2) format(woff2), url(../assets/fonts/Roboto-Medium.ttf) format(truetype);
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes wrapperAppear {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@keyframes smoothMove {
  10% {
    width: 15px;
    height: 15px;
  }
  25% {
    width: 10px;
    height: 10px;
    opacity: 0.5;
  }
  35% {
    width: 10px;
    height: 5px;
  }
  55% {
    width: 10px;
    height: 2px;
  }
  80% {
    width: 10px;
    height: 5px;
  }
  100% {
    width: 18px;
    height: 18px;
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  background: url(../assets/img/background_theme-light.jpg) no-repeat 0 0/cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  transition: 1s cubic-bezier(1, 0.13, 0.15, 0.99);
}

.wrapper_theme_dark {
  background: url(../assets/img/background_theme-dark.jpg) no-repeat 0 0/cover;
}

.wrapper-content {
  flex-grow: 1;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.list {
  list-style-type: none;
}

.header {
  display: block;
}

.header__content {
  margin: 50px 50px 0;
}

.header__heading {
  font: 40px Roboto;
  color: var(--text-orange);
  text-shadow: 0 1px 3px var(--text-orange);
  transition: 0.25s linear;
  user-select: none;
}

.header__tooltip {
  font: 40px Roboto;
  color: var(--text-orange);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 2px solid #ffc6006e;
  box-shadow: 0 0 5px 1px var(--text-orange);
  border-radius: 50%;
  text-shadow: 0 1px 3px var(--text-orange);
  transition: 0.25s linear;
}

.header__tooltip.tooltip_theme_dark:hover {
  color: var(--text-white);
  box-shadow: 0 0 5px 1px var(--text-white);
}

.header__tooltip.tooltip_theme_dark:hover > .header__tooltip-text {
  background: rgba(255, 255, 255, 0.75);
}

.header__tooltip:hover {
  color: black;
  text-shadow: 0 1px 2px black;
  box-shadow: 0 0 5px 1px var(--text-black);
  border-color: var(--text-black);
  cursor: help;
}

.header__tooltip:hover > .header__tooltip-text {
  animation: appear 0.5s linear;
  display: block;
  opacity: 1;
  z-index: 999;
}

.header__tooltip-text {
  z-index: -999;
  font: 40px Roboto;
  color: var(--text-orange);
  position: absolute;
  animation: appear reverse 0.5s linear;
  display: none;
  opacity: 0;
  max-width: 200px;
  max-height: 150px;
  background-color: rgba(0, 0, 0, 0.7);
  border: 2px solid transparent;
  right: 0;
  top: 60px;
  text-align: center;
  padding: 10px;
  border-radius: 30px;
  transition: 0.25s linear;
}

.header__slider {
  margin-left: 700px;
  width: 160px;
  height: 40px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00000073;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0 0 8px -4px grey;
  transition: all 1s cubic-bezier(1, 0.13, 0.15, 0.99), 0.5s box-shadow linear, 0.5s opacity linear;
}

.header__slider:active {
  opacity: 0.8;
}

.header__slider:not(.slider_state_active):hover {
  box-shadow: 0 0 9px -3px #ffc600;
}

.header__slider_state_active {
  box-shadow: 0 0 8px 1px #ffc600;
  background-color: #ffc600;
}

.header__thumb {
  cursor: pointer;
  background-color: #c5c5c5;
  position: absolute;
  left: 1px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  transition: 1s cubic-bezier(1, 0.13, 0.15, 0.99);
}

.header__thumb_state_active {
  background-color: #ffffffef;
  box-shadow: #9c9c9c 0px 0px 5px 1px;
}

.header__thumb_state_move {
  animation: smoothMove 0.5s linear;
}

.header__thumb_state_reverse-move {
  animation: smoothMove reverse 0.5s linear;
}

.text_size_m {
  font-size: 20px;
}

.text_color_white {
  text-shadow: 0 1px 2px white;
  color: var(--text-white);
}

.main {
  display: block;
}

.main-text {
  font: 32px Roboto;
}

.keys {
  display: block;
}

.keys__list {
  margin: 250px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.keys__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #00000059;
  border-radius: 8px;
  box-shadow: 0 0 10px 2px #0000009e;
  padding: 15px;
  width: 90px;
  transition: 0.25s linear;
  cursor: pointer;
  user-select: none;
}

.keys__item.item_state_active {
  box-shadow: 0 0 10px 2px #ffc600;
  border: 2px solid #ffc60094;
  transform: scale(1.1);
}

.keys__item.item_theme_dark {
  border: 2px solid #ffffff94;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 10px 2px #ffffffef;
}

.keys__heading {
  margin-bottom: 10px;
}

.keys__text {
  color: var(--text-orange);
  text-transform: uppercase;
}

.footer {
  display: block;
}

.footer__content {
  margin: 0 50px 20px;
  justify-content: space-between;
}

.footer__text {
  font: 40px Roboto;
  text-decoration: none;
}

.footer__author {
  transition: 0.25s linear;
}

.footer__author:hover {
  color: var(--text-orange);
}
/*# sourceMappingURL=style.css.map */